@keyframes mymoveup {
    from {
        bottom: 0%
    }

    to {
        bottom: 50%;
    }
}

@keyframes mymovedown {
    from {
        bottom: 50%;
    }

    to {
        bottom: 0%;
    }
}

ul {
    padding: 0;
    list-style-position: inside;
    width: 100%;
}

#like-button {
    display: none;
}

#compose-view{
    justify-content: center;
    margin-left: 70px;
}

#compose-button {
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 25px;
    padding-bottom: 7px;
}

.checked {
    color: red;
}

.pagination {
    display: block;
}

#profile-id {
    display: block;
    top: 20px;
    left: 100px;
}

.container {
    position: relative;
    background-color: lightblue;
    align-items: center;
}

#compose-view {
    bottom: 300px;
    left: 35%;
    height: 170px;
    width: 350px;
    text-align: center;
    z-index: 5;
    background-color: rgba(245, 222, 179, 0.5);
    position: absolute;
    display: none;
}

.forwards {
    animation-name: mymoveup;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.backwards {
    animation-name: mymovedown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

form {

    transform: translate(0, 15%);
    justify-content: center;
}

#compose-view.closed {
    max-height: 0;
}


textarea {
    margin: auto;
    padding: 20px;
    max-height: 100px;
    max-width: 300px;
}