{% extends "auctions/layout.html" %}


{% block title %}
    New Listing
{% endblock %}

{% block body %}

    <h1>Add listing</h1>
    <form action="{% url 'add_listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="listing_info" type="text" name="title" placeholder="Title of listing"><br/>
        {% csrf_token %}
        <input class="listing_info" type="text" name="current_price" placeholder="Base price"><br/>
        {% csrf_token %}
        <input class="listing_info" type="text" name="owned_by" placeholder="Owner"><br/>
        {% csrf_token %}
        <input class="listing_info" type="text" name="current_price" placeholder="Title of new entry"><br/>
        {% csrf_token %}
        <textarea class = "listing_des" name="description" placeholder="Description of entry"></textarea><br/>
        {% csrf_token %}
        <input class = "listing_info" type="file" id="listing_img" name="photo"><br/>
        {% csrf_token %}
        <input class = "submit_button" type = "submit">
    </form>

{% endblock %}