{% extends "auctions/layout.html" %}

{% block close %}
    {% if current_user == listing.owned_by %}
        <li class="nav-item">
            <a class="nav-link" href="{% url listing listing.title%}">Close Listing</a>
        </li>
    {% endif %}

{% endblock %}

{% block watchlist %}
    {% if flag %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'watchlist' listing.title %}">Remove from Watchlist</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'watchlist' listing.title %}">Add to Watchlist</a>
        </li>
    {% endif %}
{% endblock %}


{% block bid %}
    {% if current_user != listing.owned_by %}
            <li class="nav-item">
                <form action="{% url 'listing' listing.title %}" method="post">
                    {% csrf_token %}
                    {{ csrf_input }}
                    {% for field in form %}

                        {% if not field.is_hidden %}
                        <div class="fieldWrapper">
                            {{ field.label_tag }} {{ field }} <input type = "submit"> {{ field.errors}}
                        </div>
                        {% endif %}
                    {% endfor %}
                    
                </form> 
            </li>
    {% endif %}
{% endblock %}


{% block body %}
<h1>{{listing.title}}</h1>


    <img src="{{ listing.photo.url }}" alt="img" width="80"> <br/> 
    {{listing.description}} <br/>
    Current Price: {{listing.current_price}}<br/> 
     
    <ul>
        <b> Current Bids </b>
    {% for bid in bids %}
        <li>{{bid.bidder}}: {{bid.bid}}</li><br/>
    {% endfor %}
    </ul>

{% endblock %}