{% extends "auctions/layout.html" %}


{% block body %}

<ul class="nav">
<h1>{{listing.title}}</h1>

{% if current_user == listing.owned_by %}
    {% block close_listing %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'listing' listing.title 'inactive' %}">Close Listing</a>
        </li>
    {% endblock %}
{% else %}
    {% block watchlist %}
        {% if flag %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watchlist' listing.title %}">Remove from Watchlist</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'watchlist' listing.title %}">Add to Watchlist</a>
            </li>
        {% endif %}
    {% endblock %}

    {% block comment %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'comment' listing.title %}">Comment</a>
        </li>
    {% endblock %}

    {% block bid %}
        {% if current_user != listing.owned_by and listing.status == "active" %}
                <li class="nav-item">
                    <form action="{% url 'listing' listing.title listing.status %}" method="post">
                        {% csrf_token %}
                        {{ csrf_input }}
                        {% for field in form %}

                            {% if not field.is_hidden %}
                            <div class="fieldWrapper">
                                {{ field.label_tag }} {{ field }} <input type = "submit"> {{ field.errors}}
                            </div>
                            {% endif %}
                        {% endfor %}
                        
                    </form> 
                </li>
        {% elif current_user != listing.owned_by and not listing.status == "active" and current_user == listing.highest_bidder %}
                <h2> You have won the auction! </h2>
        {% endif %}
    {% endblock %}
{% endif %}
</ul>



    <img src="{{ listing.photo.url }}" alt="img" width="80"> <br/> 
    {{listing.description}} <br/>
    Current Price: {{listing.current_price}}<br/> 
     
    <ul>
        <b> Current Bids </b>
    {% for bid in bids %}
        <li>{{bid.bidder}}: {{bid.bid}}</li><br/>
    {% endfor %}
    </ul>
    <br/>
    <ul>
        <b> Comments </b>
    {% for comment in comments %}
        <li>{{comment.time_stamp}}<br/>{{comment.commenter}}: {{comment.comment}}</li><br/>
    {% endfor %}
    </ul>


{% endblock %}